<div class="links scroll">
        <a href="{{site.baseurl}}/">Projects</a>
        <a href="{{site.baseurl}}/cam.html">About</a>
        <a href="{{site.baseurl}}/whatsup.html">Current!</a>
        <!-- <a href="{{site.baseurl}}/blog/">Blog</a> -->
        <!-- <a href="{{site.baseurl}}/fragments.html">Fragments</a> -->
        <!-- <a href="{{site.baseurl}}/photos.html">Photography</a> -->
        <!-- <a href="{{site.baseurl}}/transmissions.html">Transmissions</a> -->
        <!-- <a href="{{site.baseurl}}/quipu.html">Quipu</a> -->
</div>
