---
layout: default
---

<h1>Buddha Watching YOU Watch TV</h1>

<p>
    <i>Buddha Watching You Watch TV</i> is a contemporary take on 
    Nam June Paik's classic <a href="https://en.wikipedia.org/wiki/TV_Buddha">
        <i>TV Buddha</i></a>,
    updated to reflect our current era of ubiquitous surveillance technology.
</p>

<img src="{{site.baseurl}}/assets/images/project_thumbnails/buddha.gif">

<p>
    In the decades since Nam June Paik, AI-powered surveillance technology has become
    integrated into every aspect of our lives. Rather than simply watching a static
    TV feed reflecting his own image, Buddha uses a webcam and face-tracking AI to
    follow observers as they move around. 
</p>
<p>
    This contemporary riff on a video art classic brings to the surface the ways that
    corporations and governments routinely gather, analyze, and exploit data from their 
    populations.
</p>
