---
layout: default
---

<p>
    <i>Buddha Watching You Watch TV</i> is a contemporary take on 
    Nam June Paik's classic <a href="https://en.wikipedia.org/wiki/TV_Buddha"><i>TV Buddha</i></a>.
</p>

<img src="{{site.baseurl}}/assets/images/buddha/buddha_square.gif">

<p>
    Rather than simply watching a static TV feed, Buddha uses a webcam and face-tracking
    AI to follow observers as they move around. In the decades since Nam June Paik,
    surveillance technology has become integrated into every aspect of our lives. every
    time we look at our phone, a small camera is watching us -- for hours every day.
</p>
<p>
    This contemporary riff on a video art classic brings to the surface the ways that
    corporations and governments routinely gather, analyze, and exploit data from their populations.
</p>

