---
layout: default
---


<p></p>
<img src="{{site.baseurl}}/assets/images/profile_pics/1_small.jpg" style="width:32%"></i>
<img src="{{site.baseurl}}/assets/images/profile_pics/2_small.jpg" style="width:32%"></i>
<img src="{{site.baseurl}}/assets/images/profile_pics/4_small.jpg" style="width:32%"></i>
<img src="{{site.baseurl}}/assets/images/profile_pics/11_small.jpg" style="width:32%"></i>
<!-- <img src="{{site.baseurl}}/assets/images/profile_pics/13-2.jpg" style="width:32%"></i> -->
<img src="{{site.baseurl}}/assets/images/profile_pics/13_small.jpg" style="width:32%"></i>
<img src="{{site.baseurl}}/assets/images/profile_pics/14_small.jpg" style="width:32%"></i>


<p>Experimental art with eyes on surveillance & exploitation.</p>
<p>email: camoverride@gmail.com</p>
