---
layout: default
---

<p></p>
<p>
    I walked around Seattle taking photos of people on the street.
    I collected these images into a database, morphed them, and edited them all together.
    If a solitary artist can collect and analyze the data of strangers, what can a technology company with 100,000 software engineers do?
</p>
<p></p>
<img src="{{site.baseurl}}/assets/images/fragments/video_wide_margin_2s.gif"></i>
<p></p>
<p>Static images:</p>
<p></p>
<img src="{{site.baseurl}}/assets/images/fragments/1.jpg"></i>
<p></p>
<img src="{{site.baseurl}}/assets/images/fragments/2.jpg"></i>
<p></p>
<img src="{{site.baseurl}}/assets/images/fragments/3.jpg"></i>
<p></p>