---
layout: default
---

<p></p>
<p>
    <i>Fragments</i> transforms passive viewing into active participation by assembling live-generated collages of viewers' faces. When a person looks at the portrait—displayed on a framed computer monitor, an embedded camera subtly captures their image, breaking it down into fragments that integrate seamlessly with a shifting mosaic of past viewers. Each face contributes to a layered collage, representing the way digital platforms abstract and recombine individual data.
</p>

<p>
    To see a detailed technical description of this project <a href="https://docs.google.com/document/d/1NKgD-nM4DcOCE2B28R0Ut80R_29WXNjvHqNUcHWjTrY/edit?usp=sharing">click here</a>.
</p>

<img src="{{site.baseurl}}/assets/images/fragments/seattle.gif">

<p>
    This live-generated artwork engages the audience as both viewer and participant, creating a reciprocal experience where one's presence dynamically reshapes the artwork. Through this constantly evolving piece, <i>Fragments</i> explores the intersections of technology, identity, and observation, allowing viewers to witness the real-time construction of a collective identity that is at once personal and universally abstracted.
</p>

<p>
    The ultimate goal of this piece is to raise questions about how the technology industry harvests, exploits, and aggregates data from many users all over the world.
</p>

<img src="{{site.baseurl}}/assets/images/fragments/female_faces_looking_up.gif">

<p>
    <i>Fragments</i> is also available in "static" versions created from collections of pictures I took myself or found on the web. These can be single images or gifs created from many images:
</p>

<p>
    <i>Female-presenting faces (from downtown Seattle):</i>
</p>
<img src="{{site.baseurl}}/assets/images/fragments/female_forward.gif">
    
<p>
    <i>Billioniare faces (from Forbes):</i>
</p>
<img src="{{site.baseurl}}/assets/images/fragments/billionaires.gif">

<!-- <img src="{{site.baseurl}}/assets/images/fragments/portrait.gif"> -->

<!-- <p>Single images:</p>
<img src="{{site.baseurl}}/assets/images/fragments/red_female_400x400.jpg">
<img src="{{site.baseurl}}/assets/images/fragments/1.jpg">
<img src="{{site.baseurl}}/assets/images/fragments/2.jpg">
<img src="{{site.baseurl}}/assets/images/fragments/3.jpg"> -->
