---
layout: default
---

<p></p>

<h1>Fragments</h1>

<img src="{{site.baseurl}}/assets/images/fragments_2.gif">

<p>
    When a person looks at this portrait, an embedded camera subtly captures
    their image, breaks it down into fragments, and combines those fragments 
    with all past viewers to create an endlessly changing digital mosaic.
</p>

<img src="{{site.baseurl}}/assets/images/fragments_billionaires.gif">

<p>
    This live-generated artwork engages the audience as both viewer and participant, 
    creating a reciprocal experience where one's presence dynamically reshapes the
    artwork. Through this constantly evolving piece, <i>Fragments</i> explores the
    intersections  of technology, identity, and observation, allowing viewers to witness
    the real-time  construction of a collective identity.
</p>

<img src="{{site.baseurl}}/assets/images/fragments_female_faces_up.gif">

<p>
    The ultimate goal of this piece is to raise questions about how the 
    technology industry harvests, exploits, and aggregates data from many 
    users all over the world into digital mosaics that do not exist in reality.
</p>

<img src="{{site.baseurl}}/assets/images/fragments_male_1.gif">

