---
layout: default
---

<p></p>


Ghosts (2024)
Camera, monitor, computer [portrait: dimensions vary]

Ghosts is a video portrait project. A monitor
within a picture frame streams video from a
hidden camera so that the frame appears to be a mirror.
However, everyone who ever peers into this mirror has a
video of themselves captured and repeated forever.
As more videos are captured, they slowly blend with
the others, to create ghostly shadows.
This project shows how a person's digital footprint persists
long after they log off or disengage with a technology.
Corporations are incentivized to cling onto your data at
all costs, as your data is the entire basis of their business model.
