---
layout: default
---

<p></p>

<h1>Jeff Speaking</h1>

<p>
    Anyone who picks up this phone has a direct line to Jeff Bezos, whose digital
    clone isn't afraid to explain why gig workers deserve to be poor and how American
    mega-corps will save the world.
</p>

<img src="{{site.baseurl}}/assets/images/project_thumbnails/jeff_speaking.gif">

<p>
    This sarcastic take on chatbot technology isn't just a cheap dig at one of the
    world's wealthiest men: it's also a process based piece that explores
    the boundaries of data sovereignty, digital consent, and the ability of AI
    deepfakes to infiltrate not just the internet but real life as well
</p>

<p>
    I listened to dozens of hours of Jeff Bezos speaking to assemble a high quality
    data set. I used this data to train a text-to-speech model based on Jeff. I then
    created chatbot software and installed it on a Raspberry Pi hidden inside an old
    rotary telephone. Now <b>anyone</b> can talk to Jeff.
</p>
