---
layout: default
---
<p></p>

<h1>Quipu</h1>

<img src="{{site.baseurl}}/assets/images/quipu/quipu-home-all.jpg"
     alt="PICTURE: A picture of the poem 'Home' written using Quipu"></i>

<p>
    In ancient times, people living in the Andes mountains used knotted strings to record information.
</p>

<img src="{{site.baseurl}}/assets/images/quipu/quipu-home-p1.jpg"
     alt="PICTURE: A close-up picture of the poem 'Home' written using Quipu"></i>

<p>
    Scholars still debate how to interpret these quipu strings and whether they represent written language or are merely a crude tally system.
</p>

<img src="{{site.baseurl}}/assets/images/quipu/quipu-home-p2.jpg"
     alt="PICTURE: A close-up picture of the poem 'Home' written using Quipu"></i>

<p>
    The ancient quipu are beautiful and mysterious, and were last read by seeing hands half a millenium ago.
</p>

<img src="{{site.baseurl}}/assets/images/quipu/quipu-home-p3.jpg"
     alt="PICTURE: A close-up picture of the poem 'Home' written using Quipu"></i>

<p>
    In this project, I set out to prove that the quipu could have been a writing system even though their decipherement remains elusive.
    To do this, I created by own quipu writing, able to represent all of the English language.
</p>

<p>
    In the sections below, I will first explain how linguists understand the sounds of a spoken language.
    I'll then show how my quipu system can represent all of these sounds using colors and knots.
</p>

<h2>Structure</h2>

<p>
    American English has eight vowels (nine in some dialects).
    Our normal Latin script does not have enough characters to represent every vowel.
    As a result, our letters represent multiple sounds.
    For instance, the letter "<b>a</b>" can make the sound in "cat,"
    which is different from the sound in "tall."
    Linguists use the International Phonetic Alphabet (IPA) to distinguish these sounds unambiguously.
    In the quipu, the color of a section of the thread represents the vowel.
</p>

<img src="{{site.baseurl}}/assets/images/quipu/pure-vowels.png"
     alt="PICTURE: Different sections of unknotted threads representing pure vowels."></i>

<table>
    <tr>
        <th>Vowel (IPA)</th>
        <th>Example (English)</th>
        <th>Color</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td>ʌ</td>
        <td>butt, sung, fun</td>
        <td>white</td>
        <td>13%</td>
    </tr>
    <tr>
        <td>ɪ</td>
        <td>kit, sing, tip</td>
        <td>black</td>
        <td>6%</td>
    </tr>
    <tr>
        <td>i</td>
        <td>meet, fleece, beam</td>
        <td>red</td>
        <td>4%</td>
    </tr>
    <tr>
        <td>ɑ~ɔ</td>
        <td>father, bra, on</td>
        <td>yellow</td>
        <td>4%</td>
    </tr>
    <tr>
        <td>ɛ</td>
        <td>bet, dress, empty</td>
        <td>green</td>
        <td>4%</td>
    </tr>
    <tr>
        <td>æ</td>
        <td>cat, trap, sang</td>
        <td>blue</td>
        <td>2%</td>
    </tr>
    <tr>
        <td>u</td>
        <td>goose, cruel, blue</td>
        <td>purple</td>
        <td>2%</td>
    </tr>
    <tr>
        <td>ʊ</td>
        <td>foot, hook</td>
        <td>brown</td>
        <td>0.5%</td>
    </tr>
  </table> 

<p>
    English also has sounds called dipthongs, which are two vowels next to each other.
    There are five of them: /oʊ/ "low", /aʊ/ "crowd", /ɑɪ/ "cry", /eɪ/ "lay", and /ɔɪ/ "boy/"
    In the quipu, these are represented by two vowels coiled around each other:
</p>

<img src="{{site.baseurl}}/assets/images/quipu/dipthongs.png"
     alt="PICTURE: Different sections of unknotted threads coiled around each other
     representing the dipthong vowels /ai/, /ɛi/ and /au/ ."></i>

<p>
    English also has sounds called consonants. In the quipu, these are represented by different
    types of knots: overhand (O), figure eight (A), long knot (L), and loop knot (U).
    Combinations of these knots plaed next to each other represent different consonants:
</p>

<h4>Group 1 /r/</h4>
<table>
    <tr>
        <th>Consonant (IPA)</th>
        <th>Example (English)</th>
        <th>Knot Pattern</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td>r</td>
        <td>ring, ream, fear</td>
        <td>L</td>
        <td>7%</td>
    </tr>
    <tr>
        <td>l</td>
        <td>all, love, slug</td>
        <td>LO</td>
        <td>4%</td>
    </tr>
    <tr>
        <td>j</td>
        <td>yellow, yes, hallelujah</td>
        <td>LA</td>
        <td>1%</td>
    </tr>
    <tr>
        <td>w</td>
        <td>win, swim, week</td>
        <td>LU</td>
        <td>2%</td>
    </tr>
    <tr>
        <td>h</td>
        <td>him, ahead, high</td>
        <td>LL</td>
        <td>1%</td>
    </tr>
</table>

<h4>Group 2 /n/</h4>
<table>
    <tr>
        <th>Consonant (IPA)</th>
        <th>Example (English)</th>
        <th>Knot Pattern</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td>n</td>
        <td>nut, snug, fun</td>
        <td>U</td>
        <td>7%</td>
    </tr>
    <tr>
        <td>m</td>
        <td>mist, smug, him</td>
        <td>UO</td>
        <td>3%</td>
    </tr>
    <tr>
        <td>ŋ</td>
        <td>sang, sink, singer</td>
        <td>UA</td>
        <td>1%</td>
    </tr>
</table>


<h4>Group 3 /t/</h4>
<table>
    <tr>
        <th>Consonant (IPA)</th>
        <th>Example (English)</th>
        <th>Knot Pattern</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td>t</td>
        <td>butt, top, tree</td>
        <td>A</td>
        <td>7%</td>
    </tr>
    <tr>
        <td>d</td>
        <td>do, add, drug</td>
        <td>AA</td>
        <td>4%</td>
    </tr>
    <tr>
        <td>p</td>
        <td>path, sprung, top</td>
        <td>AO</td>
        <td>2%</td>
    </tr>
    <tr>
        <td>b</td>
        <td>butt, ab, stub</td>
        <td>AL</td>
        <td>2%</td>
    </tr>
    <tr>
        <td>k</td>
        <td>king, skim, ick</td>
        <td>AOO</td>
        <td>3%</td>
    </tr>
    <tr>
        <td>g</td>
        <td>gay, grim, tag</td>
        <td>AOL</td>
        <td>1%</td>
    </tr>
    <tr>
        <td>tʃ</td>
        <td>catch, China, chin</td>
        <td>AUO</td>
        <td><1%</td>
    </tr>
    <tr>
        <td>dʒ</td>
        <td>giant, badge, judge</td>
        <td>AUL</td>
        <td><1%</td>
    </tr>
</table>

<h4>Group 4 /s/</h4>
<table>
    <tr>
        <th>Consonant (IPA)</th>
        <th>Example (English)</th>
        <th>Knot Pattern</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td>s</td>
        <td>see, soup, fast</td>
        <td>O</td>
        <td>5%</td>
    </tr>
    <tr>
        <td>z</td>
        <td>fizz, zoo, phase</td>
        <td>OO</td>
        <td>3%</td>
    </tr>
    <tr>
        <td>f</td>
        <td>fin, sphere, half</td>
        <td>OOA</td>
        <td>2%</td>
    </tr>
    <tr>
        <td>v</td>
        <td>vein, have, Vlad</td>
        <td>OOL</td>
        <td>2%</td>
    </tr>
    <tr>
        <td>θ</td>
        <td>thigh, path, forth</td>
        <td>OL</td>
        <td><1%</td>
    </tr>
    <tr>
        <td>ð</td>
        <td>the, father, breathe</td>
        <td>OA</td>
        <td>3%</td>
    </tr>
    <tr>
        <td>ʃ</td>
        <td>shy, cash, emotion</td>
        <td>OOU</td>
        <td>1%</td>
    </tr>
    <tr>
        <td>ʒ</td>
        <td>pleasure, beige</td>
        <td>OOO</td>
        <td><1%</td>
    </tr>
</table>

<p>
    A syllable consists of a vowel core and optional consonants at the beginning and end.
    Consonants at the beginning of a syllable are called "onsets";
    at the end they are called "codas."
    A word like "cat" is written in the IPA as /kæt/. It has an onset and a coda;
    its syllable structure is CVC (Consonant - Vowel - Consonant).
    In the quipu, when a syllable is CV (Consonant - Vowel) like "the" /ðʌ/, the knots for
    /ð/ are tied directly onto the thread:
</p>

<img src="{{site.baseurl}}/assets/images/quipu/the.png"
     alt="PICTURE: The quipu for 'the' /ðʌ/."></i>

<p>
    When an onset is extra long, an auxiliary string is added for the additional consonants.
    For instance, in the word "stew" /stu/ an extra coord with the knots for /t/ hangs off
    after the /s/":
</p>

<img src="{{site.baseurl}}/assets/images/quipu/stew.png"
     alt="PICTURE: The quipu for 'stew' /stu/."></i>
    
<p>
    When a syllable has both an onset and a coda, the thread is extra long and space
    is left between the onset and coda:
</p>

<img src="{{site.baseurl}}/assets/images/quipu/cat.png"
     alt="PICTURE: The quipu for 'cat' /kæt/."></i>

<p>
    Many words have multiple syllables, like "camera" /kæmrʌ/:
</p>

<img src="{{site.baseurl}}/assets/images/quipu/camera.png"
     alt="PICTURE: The quipu for 'camera'."></i>

<p>
    All the words in a sentence are tied together into long threads:
</p>

<img src="{{site.baseurl}}/assets/images/quipu/the-camera.png"
     alt="PICTURE: The quipu for 'the camera'."></i>

<p>
    Sentences or phrases are tied to separate places on the main quipu "spine":
</p>

<img src="{{site.baseurl}}/assets/images/quipu/quipu-home-p1.jpg"
     alt="PICTURE: A quipu segment."></i>

<h2>Future</h2>

<p>
    Quipu can be used to represent the English language.
    However, the ancient Incan people spoke Quechua.
    In principle, the quipu can be modified to represent any spoken language.
    A tactile writing system that uses color, texture, and distance
    does not exist in the current cultures of the world - but it can.
</p>
