---
layout: default
---

<p></p>

<img src="{{site.baseurl}}/assets/images/project_thumbnails/mona_lisa_override.gif"></i>

<p>
    Deepfake technology isn't just flooding the internet, it's escaping into the real world. <i>Mona Lisa Override</i> is a video portrait project that forces viewers to confront this depressing reality head-on.
</p>

<p> 
    I took a camera, hooked it up to a computer, and wrote some software to swap your face with the Mona Lisa. If a random artist with a cheap computer can hijack the world's most famous portrait in real time, what are tech corporations capable of doing with your data?
</p>

<p>
    I want people to reflect on the new reality of instant and convincing fakeness and rethink who we trust, what we buy, and which corporations we support.
</p>


<h3>More</h3>

<img src="{{site.baseurl}}/assets/images/mona_lisa_override/mona_lisa_and_me.gif"></i>

<p>
    Deepfake portraits from my solo exhibition:
</p>

<img src="{{site.baseurl}}/assets/images/mona_lisa_override/mona_lisa.jpg"></i>
<img src="{{site.baseurl}}/assets/images/mona_lisa_override/pearl_earring.jpg"></i>

<p>
    Although this portrait appears playful at first glance, many of the guests at my show felt unsettled after their initial surprise and laughter.
</p>

<!-- <p>You can buy this artwork <a href="https://cam-smith-art.square.site/product/mona-lisa-override/1?cs=true&cst=popular">[here]</a></p> -->
