---
layout: default
---

<p></p>

<p>
    Mona Lisa Override is a video portrait project.
    A picture of the Mona Lisa is displayed on a monitor
    within an ornate picture frame. Inside this frame a small
    camera is hidden. As a visitor approaches this
    familiar portrait of the Mona Lisa, they will see
    their face swapped with the portrait's.
    This project shows how deepfake technology will soon not be
    constrained simply to the internet. Governments and corporate
    interests have little interest in the truth, and will use
    deepfake technology to manipulate the outcomes of elections
    and consumer's beliefs about the world.
</p>

<img src="{{site.baseurl}}/assets/images/project_thumbnails/mona_lisa_override.gif"></i>


<p>
    I'll be using deepfakes in a number of pieces in the future.
</p>
