---
layout: default
---

<p></p>

<h1>Mona Lisa Override</h1>

<img src="{{site.baseurl}}/assets/images/project_thumbnails/mona_lisa_override.gif"></i>

<p>
    Deepfake technology isn't just flooding the internet, it's escaping into the real world. 
    <i>Mona Lisa Override</i> is a video portrait project that forces viewers to confront this
     depressing reality head-on.
</p>

<p> 
    I took a camera, hooked it up to a computer, and wrote some software to swap your 
    face with the Mona Lisa. If a random artist with a cheap computer can hijack the 
    world's most famous portrait in real time, what are tech corporations capable of 
    doing with your data?
</p>

<p>
    I want people to reflect on the new reality of instant and convincing fakeness 
    and rethink who we trust, what we buy, and which corporations we support.
</p>

<img src="{{site.baseurl}}/assets/images/mona_lisa_and_me.gif"></i>
