---
layout: default
---

<p></p>

<img src="{{site.baseurl}}/assets/images/porn/1.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/8.png"></i>
2023, Sierra Nevada Mountains
<img src="{{site.baseurl}}/assets/images/porn/2.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/3.png"></i>
2023, Puget Sound
<img src="{{site.baseurl}}/assets/images/porn/4.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/5.png"></i>
2023, Mt Fuji
<img src="{{site.baseurl}}/assets/images/porn/6.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/7.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/10.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/DSC08107.jpg"></i>
2023, San Francisco
<img src="{{site.baseurl}}/assets/images/porn/L1022015.jpg"></i>
2023, San Francisco
<!-- <img src="{{site.baseurl}}/assets/images/porn/9.png"></i>
<img src="{{site.baseurl}}/assets/images/porn/9-dark.png"></i> -->
<img src="{{site.baseurl}}/assets/images/porn/9-dark-2.png"></i>
2023, San Francisco
