---
layout: default
---
<p></p>
<p>
    Beauty has the power to both reveal the truth and to obscure it.
</p>
<p>
    These are photos of attractive bodies in scenic natural settings.
    These photos should be beautiful, but instead they're haunting.
</p>
<p>
    A slight change to an image - a wrinkle, shadow, or pose - can change something from attractive to ominous.
    I hope these images make you reflect on beauty and nature.
</p>
<p></p>
<img src="{{site.baseurl}}/assets/images/porn/small_8.png"></i>
<!-- 2023, Sierra Nevada Mountains -->
<img src="{{site.baseurl}}/assets/images/porn/small_1.png"></i>
<!-- 2023, Seattle -->
<img src="{{site.baseurl}}/assets/images/porn/small_6.png"></i>
<!-- 2023, Seattle -->
<img src="{{site.baseurl}}/assets/images/porn/small_2.png"></i>
<!-- 2023, Seattle -->
<img src="{{site.baseurl}}/assets/images/porn/chloe_bending.PNG"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/chloe_crawling.PNG"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/paula-up.png"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/chloe_crouching.PNG"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/chloe_standing.PNG"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/paula_shy.PNG"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/chloe_bamboo.PNG"></i>
<!-- 2024, Taipei -->
<!-- <img src="{{site.baseurl}}/assets/images/porn/15-all.jpg"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/15-small.jpg"></i>
2023, Seattle -->
<!-- <img src="{{site.baseurl}}/assets/images/porn/16.jpg"></i>
2023, Seattle -->
<img src="{{site.baseurl}}/assets/images/porn/wen_face.PNG"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/wen_hiding.PNG"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/wen_ribs.PNG"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/small_7.png"></i>
<!-- 2023, Seattle -->
<img src="{{site.baseurl}}/assets/images/porn/small_10.png"></i>
<!-- 2023, Seattle -->
<img src="{{site.baseurl}}/assets/images/porn/15-mid.jpg"></i>
<!-- 2023, Seattle -->
<img src="{{site.baseurl}}/assets/images/porn/13-small-wide.jpg"></i>
<!-- 2024, Taipei -->
<img src="{{site.baseurl}}/assets/images/porn/small_3.png"></i>
<!-- 2023, Puget Sound -->
<img src="{{site.baseurl}}/assets/images/porn/small_4.png"></i>
<!-- 2023, Seattle -->
<!-- <img src="{{site.baseurl}}/assets/images/porn/small_5.png"></i> -->
<!-- 2023, Mt Fuji -->
<!-- <img src="{{site.baseurl}}/assets/images/porn/small_11.jpg"></i> -->
<!-- 2023, San Francisco -->
<!-- <img src="{{site.baseurl}}/assets/images/porn/small_12.jpg"></i> -->
<!-- 2023, San Francisco -->
<!-- <img src="{{site.baseurl}}/assets/images/porn/9.png"></i>
<img src="{{site.baseurl}}/assets/images/porn/9-dark.png"></i> -->
<img src="{{site.baseurl}}/assets/images/porn/9-dark-2.png"></i>
<!-- 2023, San Francisco -->
<!-- <img src="{{site.baseurl}}/assets/images/porn/14.jpg"></i>
2024, Taipei -->
