---
layout: default
---

<p></p>

<img src="{{site.baseurl}}/assets/images/porn/small_1.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/small_8.png"></i>
2023, Sierra Nevada Mountains
<img src="{{site.baseurl}}/assets/images/porn/small_2.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/small_3.png"></i>
2023, Puget Sound
<img src="{{site.baseurl}}/assets/images/porn/small_4.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/small_5.png"></i>
2023, Mt Fuji
<img src="{{site.baseurl}}/assets/images/porn/small_6.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/small_7.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/small_10.png"></i>
2023, Seattle
<img src="{{site.baseurl}}/assets/images/porn/small_11.jpg"></i>
2023, San Francisco
<img src="{{site.baseurl}}/assets/images/porn/small_12.jpg"></i>
2023, San Francisco
<!-- <img src="{{site.baseurl}}/assets/images/porn/9.png"></i>
<img src="{{site.baseurl}}/assets/images/porn/9-dark.png"></i> -->
<img src="{{site.baseurl}}/assets/images/porn/9-dark-2.png"></i>
2023, San Francisco
