---
layout: default
---

<p></p>


Real Eyes (2024)
Camera, projector, computer [video installation: dimensions vary]

Real Eyes is a video installation.
A projector displays a number of eyes.
A hidden camera tracks the location of a visitor's body.
As a visitor moves around, the eyes follow them,
creating an eerie sense of being watched.
This project shows how people are always being surveilled: CCTV cameras,
cookies in your web browser, etc. In both the digital and physical
worlds, you are never free from non-consensual surveillance.
