---
layout: default
---

<p></p>
<p>
    <i>Surveillance State of Mind</i> is a video installation that takes
    real-time CCTV footage from traffic cameras around Seattle and
    displays them on an old CRT monitor. The footage is interspersed with video artwork.
    This piece is designed to "lift the veil" and show that in addition to algorithms,
    sometimes individual human beings are viewing your life in the panopticon.
</p>

<img src="{{site.baseurl}}/assets/images/project_thumbnails/surveillance_state_of_mind.gif"></i>

<p>
    The video art that comes between the segments of surveillance
    footage raises questions about the effectiveness of surveillance and
    the ways it can modify our behavior on a subconscious level.
</p>
