---
layout: default
---
<p></p>

<p>You were probably watched by a dozen security cameras on the way to the convenience store last night.</p>

<p>In public, anything you say or do is free to be looked at, listened to, recorded.</p>

<p>The margin between the public and private is poorly demarcated.</p>

<p>Corporations and governments determine where this boundary is located and how permeable it is.</p>

<p>Is browsing the internet a public or a private act? What about posting on Facebook? Writing an email?</p>

<img src="{{site.baseurl}}/assets/images/surveillance/monitor-very-closeup-2.jpg"></i>

<p>I filled a room with security cameras. They're always on, always recording, always listening.</p>

<img src="{{site.baseurl}}/assets/images/surveillance/monitor-wall-1.jpg"></i>

<p>They're hooked up to a server where I run facial recognition models. When a camera sees a face, it analyzes the face and saves it to a database. Governments and corporations do this all the time.</p>

<img src="{{site.baseurl}}/assets/images/surveillance/wall-all-5.jpg"></i>

<p>I hacked some reciept printers. They print out all the faces the AI sees. I strung up the faces from my walls and ceiling.</p>

<img src="{{site.baseurl}}/assets/images/surveillance/wall-closeup.jpg"></i>

<p>Hundreds of people that I invited into my studio had their faces captured and printed. Their faces are on the wall. They're also probably in the databases of Palantir, Facebook, and the FBI.</p>

<img src="{{site.baseurl}}/assets/images/surveillance/face-display-1.jpg"></i>

<p>I also project faces that look similar to your own to demonstrate how organizations can understand what you look like.</p>

<p>AI is going to improve enormously in the next few years. We're the data it feeds on. I hope you feel something knowing you're being watched.</p>

<!-- <img src="{{site.baseurl}}/assets/images/surveillance/face-display-closeup.jpg"></i> -->

<!-- <p>  
    ㄆઋઌおઍЃꙂꙀЌЅએÖ文ⴼⴽÜฌญԵฎいえのฏฐⵒⵓⵔⵕকুকূⴾⴿѢঋকৃএฒㄉЬㄊㄋЇꙈตうถÊÎÔÛŴÉÍÏâêЄ
    Į́ਆਇŁŃپچژนบปผฝพฟ ภมยรฤוזחטיכלמנסעפצקغفقكΝΞΟ あΠΡΣΤΥΦ
    ΧΨΩαβγδεζჱთიკⴱ ⴲⴳⴴⴵⴶⴷⴸⴹⴺⴻηθικλلمنهؤوئىيءঅআকাকিকীე
    ვზⵀⵁⵂⵃⵄⵅⵆ ⵇⵈⵉⵊⵋⵌ ⵍⵎⵐⵑⵗⵘⵙⵚⵛⵜⵝⵞⵠⵡⵢⵣⵤⵥⵦლმ
    ნჲოპჟრსტჳუფქღ ყშลฦวѨẞäЉЊ Џöศษสხჴჯჰჵউকেঐকৈ
    ⵖЗІ 
    ОуꙊѠ ЩЪꙐ 漢 字ԲԳԴ ԶگظعהทธԷԸ ԹԺԻԼԽ 化圈ঊЮ
    ŶÁîôឃ អ្ងអઐઑ БВГณดД ЕЖЗઓઔÄ ្ចអ្ឆ អ្ឈûŵѤѦü 
    ßÂჩცძწჭ ฉชซѪѬ ѮѰѲѴҀ ŷáéíï ÁĄĄ́Éㄅㄇㄈកខគ ឃងចឆ ㄌㄍㄎㄏĘĘ́ÍĮ
</p> -->
