---
layout: default
---
<p></p>

<h3>Everywhere Continuous, Nowhere Differentiable</h3>
<p>
    Swarm is a video portrait project. I use facial recognition technology to track everyone who looks at this portrait. Every unique face is captured and combined with all the other faces to produce an always-evolving composite
</p>

<img src="{{site.baseurl}}/assets/images/swarm_2.jpg"></i>


<p>
    The images that this portrait produces are ghostly and strange, resembling simultaneously everyone who has viewed them, as well as the theoretical but non-existent “average” human that scientists and technologists pursue.
</p>
