---
layout: default
---

<p></p>

<p>Total Convergence is a real-time machine learning art piece.
    A hidden camera captures videos of visitors' faces.
    The faces are then compared to tens of thousands of other faces in a database.
    From this database, visually similar faces are displayed alongside the guest's face.
    The selected faces are usually similar to the guest's face in terms of
    race, age, and gender, but the matches are far from perfect.
    This project shows how culturally-constructed ideas like race or gender are
    recapitulated by algorithms, which are far from "objective," sharing all the
    same biases as their human creators.
</p>

<img src="{{site.baseurl}}/assets/images/total_convergence/total_conv.png">
