---
layout: default
---

<p></p>

<p>
Traces is a digital collage that collects videos of everyone who ever looks at it,
overlaying those videos to create ghostly composites. Everyone who ever looks at this
portrait leaves a trace that repeats forever.
</p>

<img src="{{site.baseurl}}/assets/images/project_thumbnails/traces.gif">

<p>
While we usually consider the act of viewing to be one-directional,
whenever someone looks at a website or uses a phone app, the website is
looking back at them
</p>

<img src="{{site.baseurl}}/assets/images/traces/traces.jpg">
