---
layout: default
---

<p></p>

<h1>Traces</h1>

<img src="{{site.baseurl}}/assets/images/project_thumbnails/traces.gif">

<p>
    Everyone who encounters this portrait leaves a permanent digital trace, 
    their bodies being recognized, segmented, and overlaid on top of all its 
    other observers, creating a ghostly and evolving digital palimpsest.
    <i>Traces</i> seeks to blur the boundary between the observer and observed 
    and raise questions about how the technology industry collects, analyzes, 
    and exploits data from billions of people in every corner of the world.
</p>

<p>
    What traces do you leave behind when you doomscroll Instagram, call an Uber,
    or walk underneath a CCTV camera?
</p>
