---
layout: default
---
<p></p>

<p>
    <b><i>Transmissions</i></b> is a real-time surveillance-technology installation. I filled an entire room with cameras that photograph and print out the faces of visitors, demonstrating the creepy ability of AI and surveillance technology to invade your personal space and analyze you. Whenever a person's face is detected, a picture of their face is produced on a hacked receipt printer. This offers visitors a literal physical receipt of their digital surveillance, a luxury that individuals don't have when interacting with large technology corporations or the government. This project gives visitors the eerie feeling of being surveilled, which is something we should (but often don't) feel when interacting with social media or other technologies.
</p>

<i>Transmissions</i> printouts:
    <img src="{{site.baseurl}}/assets/images/transmissions/small_monitor-wall-1_682_483.jpg"></i>

<i>Transmissions</i> as part of my solo show:
    <img src="{{site.baseurl}}/assets/images/transmissions/solo_show_2_682_483.jpg"></i>
    <img src="{{site.baseurl}}/assets/images/transmissions/solo_show_3_682_483.jpg"></i>

<p>
    You were probably watched by a dozen security cameras on the way to the convenience store last night. In public, anything you say or do is free to be looked at, listened to, recorded. The margin between the public and private is poorly demarcated.
</p>

<img src="{{site.baseurl}}/assets/images/transmissions/printouts_300.gif"></i>

<p>
    Corporations and governments determine where this boundary is located and how permeable it is. Is browsing the internet a public or a private act? What about posting on Facebook? Writing an email?
</p>


<p>
    Hundreds of people that I invited into my studio had their faces captured and printed. Their faces are on the wall. They're also probably in the databases of Palantir, Facebook, and the FBI.
</p>

<i>Transmissions</i> in my studio:
<img src="{{site.baseurl}}/assets/images/transmissions/small_monitor-very-closeup-1.jpg"></i>
