---
layout: default
---
<p></p>

<h1>Transmissions</h1>

<p>
    A network of embedded cameras use facial detection to print pictures of 
    people as they explore the space. This project provides a <i>physical receipt</i> 
    of the surveillance we are subjected to on a daily basis but usually unaware of.

    <img src="{{site.baseurl}}/assets/images/transmissions_printouts.gif">
</p>

<p>
    <i>Transmissions</i> consists of webcams connected to Raspberry Pi computers.
    These computers use artificial intelligence to identify faces which are sent 
    to thermal printers to be printed out immediately in real time.

    <img src="{{site.baseurl}}/assets/images/transmissions_monitor.jpg">
</p>

<p>
    Hundreds of people that I invited into my studio had their faces captured and 
    printed. Their faces are on the wall. They're also probably in the databases 
    of Palantir, Facebook, and the FBI.

    <img src="{{site.baseurl}}/assets/images/transmissions_wall.jpg">
</p>
