---
layout: default
---

<p>
    Come visit my studio at <a href="https://maps.app.goo.gl/GwMntPTyMJWfjf1Y9">Base Camp Studios 2</a> in Seattle every second Friday for the <a href="https://www.belltownartwalk.com/">Belltown Art Walk</a> and every fourth Friday for the <a href="https://www.belltownartwalk.com/downtown-art-walk">Downtown Art Walk</a>.
</p>

<p>
    I also host weekly office hours Mondays at 6:00 - 7:00pm at <a href="https://maps.app.goo.gl/NjcTqDcjavybhZov9">Common Area Maintenance</a> where you can come talk about art, science, or whatever.
</p>

<p>
    You can also <a href="https://calendly.com/camoverride">schedule a call with me</a>.
</p>

<h2>Current Shows</h2>

<ul>
    <li>Inventing Your Path @ Schack (Everett)</li>
    <li>Tradition Interrupted @ Phase/55 (Seattle)</li>
    <li>Free Gift with Purchase @ Friend Museum (Seattle)</li>
    <li>Eyes on the City @ Fathom (Seattle)</li>
</ul>


<h2>Upcoming</h2>

<ul>
    <li>Firestone Show @ The Firestone (Seattle)</li>
    <li>Moth Holes @ Common Objects (Seattle)</li>
    <li>Bring Your Own Data (BYOD) @ Common Area Maintenance (Seattle)</li>
</ul>

<p>
    <a href="{{site.baseurl}}/assets/cam_smith_cv.pdf">Click here</a> to view my CV, which has info about all my past shows.
</p>