---
layout: default
---

<p>
    Come visit my studio at <a href="https://maps.app.goo.gl/GwMntPTyMJWfjf1Y9">
        Base Camp Studios 2</a> in Seattle every second Friday for the 
        <a href="https://www.belltownartwalk.com/">Belltown Art Walk</a> 
        and every fourth Friday for the 
        <a href="https://www.belltownartwalk.com/downtown-art-walk">Downtown Art Walk</a>.
</p>

<p>
    I also host weekly office hours Mondays at 6:00 - 7:00pm at 
    <a href="https://maps.app.goo.gl/NjcTqDcjavybhZov9">Common Area Maintenance</a> 
    where you can come talk about art, science, or whatever.
</p>

<p>
    You can also <a href="https://calendly.com/camoverride">schedule a call with me</a>.
</p>
