---
layout: default
---

<p>
    Come visit my studio at <a href="https://maps.app.goo.gl/GwMntPTyMJWfjf1Y9">Base Camp Studios 2</a> in Seattle every second Friday for the <a href="https://www.belltownartwalk.com/">Belltown Art Walk</a> and every fourth Friday for the <a href="https://www.belltownartwalk.com/downtown-art-walk">Downtown Art Walk</a>.
</p>

<p>
    I also host weekly office hours Mondays at 6:00 - 7:00pm at <a href="https://maps.app.goo.gl/NjcTqDcjavybhZov9">Common Area Maintenance</a> where you can come talk about art, science, or whatever.
</p>

<p>
    You can also <a href="https://calendly.com/camoverride">schedule a call with me</a>.
</p>

<h2>Current Shows</h2>

<ul>
    <li>Come see some of my immersive artwork at The Firestone Project (1145 NW Market St, Seattle, WA 98107)</li>
</ul>


<h2>Upcoming</h2>

<ul>
    <li>July 17th, 5:00pm - "Seattle Art Fair!" (group exhibition - check out my hacked rotary phone!) @ Lumen Field Event Center (Seattle)</li>
    <li>July 22nd, 7:00pm - "Adding Interactivity to Your Art" (workshop) @ Passable (Seattle)</li>
    <li>August 1st, 6:30pm - "AI Must Die" (zine talk w/ Myke Walton) @ Common Area Maintenance (Seattle)</li>
    <li>August 8th, 6:30pm - "Bring Your Own Data (BYOD)" (show) @ Common Area Maintenance (Seattle)</li>
    <li>September 18th, 4:00pm - "Mona Lisa Override" (public art opening) @ Redmond City Park (Redmond)</li>
    <li>October 10th, 5:00pm - "Haunted" (group show) @ Tacoma Art Museum (Tacoma)</li>
</ul>

<p>
    <a href="{{site.baseurl}}/assets/cam_smith_cv.pdf">Click here</a> to view my CV, which has info about all my past shows.
</p>