---
layout: default
---

<p></p>
<p>
    <i>Who's Watching Who?</i> is a video portrait project.
    Portraits of tech CEOs are displayed on a monitor
    within an ornate picture frame. Hidden in this frame is a
    camera that tracks viewers' movements. As a viewer moves around,
    the eyes of the CEO follow them.
</p>

<img src="{{site.baseurl}}/assets/images/project_thumbnails/whos_watching_who.gif"></i>

<p>
    We take for granted how every
    interaction with a technology company, whether it be sending an email,
    taking a picture on our smartphone, or ordering an item online is tracked,
    analyzed, and ultimately used to enrich huge corporations that are not
    accountable to the general public.
</p>

